<html>
<head>
    <title>Home</title>
    </head>
<body>
    <h1>Search</h1>
    <form action="/get" method="get">
    Name: <input type="text" name="name"><br>
    <input type="submit" value="Submit">
    </form>
    {{#each albums}}
 <li><a href=" ./get?name={{title}}">{{title}}</a></li>
{{/each}}
    
<h1>Add</h1>
    <form action="/api/v1/new_album" method="post">
    Title: <input type="text" name="title"><br>
    Author: <input type="text" name="author"><br>
    Year: <input type="number" name="year"><br>
    <input type="submit" value="Submit">
    </form>
    </body>
</html>